<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">

        <h2>BC Angular 5 Seed Application</h2>
      <h4>What is Bloc Architecture </h4>
      <hr>
      <dl>
        <img src="assets/i/xpo-welcome.png" />
        <br>
        <br>
        <br>
        <img src="assets/i/bloc.jpg" />
        <br>
        <br>
        <hr>
        <h3>Creating a new Bloc</h3>
        <li>
          <ul> 1. Create a folder under ```/src``` calling it your bloc name ```name.bloc```</ul>
          <ul> 2. populate it with the files from the example.bloc and edit it to create a new bloc (new module and component
            name)</ul>
          <ul>3. Add the bloc to the ```/src/app/app.routes``` using the example in the routes file to know how and you are off
            and running.</ul>
        </li>
      </dl>
</div>
