<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">

  <xpo-card class="view-card">
    <card-header>
      <card-header-title>
        <h2>XPO Logistics NG Seed Application</h2>
      </card-header-title>
      <card-header-subtitle>What is Bloc Architecture </card-header-subtitle>
      <card-header-actions>
        <button xpo-btn="link">
          <xpo-icon>action-edit</xpo-icon>
        </button>
      </card-header-actions>
    </card-header>

    <card-content>
      <dl>
        <img src="assets/i/xpo-welcome.png" />
        <br>
        <br>
        <br>
        <img src="assets/i/bloc.jpg" />
        <br>
        <br>
        <hr>
        <h3>Creating a new Bloc</h3>
        <li>
          <ul> 1. Create a folder under ```/src``` calling it your bloc name ```name.bloc```</ul>
          <ul> 2. populate it with the files from the example.bloc and edit it to create a new bloc (new module and component
            name)</ul>
          <ul>3. Add the bloc to the ```/src/app/app.routes``` using the example in the routes file to know how and you are off
            and running.</ul>
        </li>
      </dl>
    </card-content>
    <card-actions>

    </card-actions>

  </xpo-card>
</div>
