<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">

  <xpo-card class="view-card">
    <card-header>
      <card-header-title>
        <h2>XPO Logistics NG Seed Application</h2>
      </card-header-title>
      <card-header-subtitle>HTTP Test </card-header-subtitle>
      <card-header-actions>
        <button xpo-btn="link">
          <xpo-icon>action-edit</xpo-icon>
        </button>
      </card-header-actions>
    </card-header>

    <card-content>
      <dl>
        <br>
        <hr>
        <h3>HTTP Test</h3>
        <li>
          <ul> <button xpo-btn="link" (click)="method1Call()">Successfull Request</button> </ul>
          <ul> <button xpo-btn="link" (click)="method2Call()">404 Error Request</button> </ul>
        </li>
      </dl>
    </card-content>
    <card-actions>

    </card-actions>

  </xpo-card>
</div>
